/* card */
.card-text {
    font-family: 'Roboto', sans-serif;
}

.card-fig {
    border: 2pt #DA7F8F solid;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card-pic {
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.card {
    background-color: #E1E5EA;
    padding: 5px;
    border-radius: 10px;
    align-items: flex-start;

}

.card-head {
    font-weight: 800;
}
